.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.header {
  grid-area: h;
  background-color: #c8ffc3;
}

.nav {
  grid-area: n;
  background-color: #98f1ff;
}

.content {
  grid-area: c;
  background-color: #ffcad8;
}

.header img {
  width: 80px;
}